SkillSignal/Service References/WCFUserService/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="UserService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/System" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/SkillSignal.Domain" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IUserService_CanAuthenticate_InputMessage">
    <wsdl:part name="parameters" element="tns:CanAuthenticate" />
  </wsdl:message>
  <wsdl:message name="IUserService_CanAuthenticate_OutputMessage">
    <wsdl:part name="parameters" element="tns:CanAuthenticateResponse" />
  </wsdl:message>
  <wsdl:message name="IUserService_Where_InputMessage">
    <wsdl:part name="parameters" element="tns:Where" />
  </wsdl:message>
  <wsdl:message name="IUserService_Where_OutputMessage">
    <wsdl:part name="parameters" element="tns:WhereResponse" />
  </wsdl:message>
  <wsdl:message name="IUserService_SaveOrUpdate_InputMessage">
    <wsdl:part name="parameters" element="tns:SaveOrUpdate" />
  </wsdl:message>
  <wsdl:message name="IUserService_SaveOrUpdate_OutputMessage">
    <wsdl:part name="parameters" element="tns:SaveOrUpdateResponse" />
  </wsdl:message>
  <wsdl:message name="IUserService_Delete_InputMessage">
    <wsdl:part name="parameters" element="tns:Delete" />
  </wsdl:message>
  <wsdl:message name="IUserService_Delete_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteResponse" />
  </wsdl:message>
  <wsdl:message name="IUserService_GetActiveUsers_InputMessage">
    <wsdl:part name="parameters" element="tns:GetActiveUsers" />
  </wsdl:message>
  <wsdl:message name="IUserService_GetActiveUsers_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetActiveUsersResponse" />
  </wsdl:message>
  <wsdl:portType name="IUserService">
    <wsdl:operation name="CanAuthenticate">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserService/CanAuthenticate" message="tns:IUserService_CanAuthenticate_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserService/CanAuthenticateResponse" message="tns:IUserService_CanAuthenticate_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Where">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserService/Where" message="tns:IUserService_Where_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserService/WhereResponse" message="tns:IUserService_Where_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SaveOrUpdate">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserService/SaveOrUpdate" message="tns:IUserService_SaveOrUpdate_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserService/SaveOrUpdateResponse" message="tns:IUserService_SaveOrUpdate_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Delete">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserService/Delete" message="tns:IUserService_Delete_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserService/DeleteResponse" message="tns:IUserService_Delete_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetActiveUsers">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserService/GetActiveUsers" message="tns:IUserService_GetActiveUsers_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserService/GetActiveUsersResponse" message="tns:IUserService_GetActiveUsers_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IUserService" type="tns:IUserService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CanAuthenticate">
      <soap:operation soapAction="http://tempuri.org/IUserService/CanAuthenticate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Where">
      <soap:operation soapAction="http://tempuri.org/IUserService/Where" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaveOrUpdate">
      <soap:operation soapAction="http://tempuri.org/IUserService/SaveOrUpdate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Delete">
      <soap:operation soapAction="http://tempuri.org/IUserService/Delete" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetActiveUsers">
      <soap:operation soapAction="http://tempuri.org/IUserService/GetActiveUsers" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="UserService">
    <wsdl:port name="BasicHttpBinding_IUserService" binding="tns:BasicHttpBinding_IUserService">
      <soap:address location="http://localhost:9001/UserService" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>